*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" sans-serif;
}


.container{
	width: 100%;
	height: 100vh;
	background: orange;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator{
	background: rgba(0, 0, 0, 0.848);
	padding: 20px;
	border-radius: 10px;
}

.calculator form input{
	border: 0;
	outline: 0;
	height: 60px;
	width: 60px;
	border-radius: 10px;
	background: transparent;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	margin: 10px;
}

.calculator form input:hover{
  color:orange;
  font-size: 30px;
}

form .display{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
} 


form .display input{
	text-align: right;
	flex: 1;
	font-size: 45px;
	box-shadow: none;

}

form input.equal{
	width: 145px;
}


form input.operator{
	color: orange;
}